/*BODY*/
body {
  font-size: 18px;
  color: white;
  background-color: lightgrey;
  font-family: 'Oxygen', sans-serif;
}

/*HEADER*/
#header-nav {
  background-color: ghostwhite;
  border-radius: 0;
  border: 0;
  margin-bottom: 0px;
  min-height: 90px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: skyblue;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-toggle{
	top: 20px;
}
#nav-list {
  margin-top: 40px;
}
#nav-list a{
	text-align: center;
	background-color: lightgrey;
	color: steelblue;
	font-size: 1.5em;
	font-weight: bold;
}
#nav-list a:hover, #nav-list a:focus{
	background-color: white;
}
#collapsable-nav {
  border-top: none !important;
  box-shadow: none !important;
}
#page-heading{
	background-color: steelblue;	
	height: 60px;
	font-size: 2em;
	padding-top: 12px;
	margin-block: 0;
}

#main-content{

}

#menu-tile, #menu-tile-chicken, #menu-tile-sushi, #menu-tile-beef{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: skyblue;
}
#menu-tiles-title{
  font-size: 1.5em;
  color: steelblue;
}
